.Example
	background #B7B7B7
	font-family sf mono
	margin-bottom 40px
	font-size 17px
	margin 40px 20px
	color #535353
	padding 30px
	border-radius 20px
	&__title
		margin-bottom 10px
		text-transform uppercase
	&__wrap
		display inline-flex
	&__text
		display inline-block
		width 80%
		line-height 22px
	&__remark
		display inline-block
		width 19%
		vertical-align top
		font-size 13px
		
	&__m
		display inline
		background #818181
		color #c5c5c5