.FormLight
    
    gap = 4px
    control = 100px

    margin 80px 0 0 0
    font-size 28px
    letter-spacing -1.4px

    @media screen-phone
        margin 60px 2px 2px 2px
    
    ::placeholder
        color var(--formPlaceholder)

    :-ms-input-placeholder
        color var(--formPlaceholder)

    ::-ms-input-placeholder
        color var(--formPlaceholder)
    
    form
        margin 0
        
    input
        border 0
        outline 0
        font-size 28px
        letter-spacing -1.4px
        font-family GT Walsheim Pro
        &:focus, &:active
            border 0
            outline 0
        &.form__upload-input[type="file"]
            display none
    &__head
        margin 8px 20px
        position relative
    &__title, &__hint
        /*font-size 45px
        line-height 39px
        letter-spacing -3px*/
    &__hint
        position absolute
        right 0
        top 0
        @media screen-phone
            position relative
            opacity .6
    &__input
        width 100%
        height 100px
        text-align left
        line-height 100px
        padding 0 16px
        & + &
            margin-left gap
            @media screen-phone
                margin-left 0
                margin-top gap
    &__button
        width 50%
        @media screen-phone
            width initial
        height 100px
        text-align center
        line-height 100px
        cursor pointer
        &_select
            &[active="true"]
                background var(--formHighlight) !important
                color #fff !important
            
        & + &
            margin-left gap
            @media screen-phone
                margin-left 0
                margin-top gap
    &__item
        display inline-flex
        width 100%
        @media screen-phone
            display block
        & + &
            margin-top gap
    &__action
        // background-color #222222
        // color #D4D4D4
        width 100%
        border-radius 20px
        line-height 213px
        text-align center
        margin 0 2px 2px 2px
        @media screen-phone
            margin 0
        cursor pointer
    &__upload
        width 100%
        position relative
        box-sizing border-box
        outline-offset: -10px;

        &-doc-name
            text-align center
            width 100%
            font-size 17px
            letter-spacing -0.2px
            color #999
        &-label
            cursor pointer
            width 100%
            text-align center
            height 150px
            line-height 150px
            display block
        &-filename:last-child
            padding-bottom: 24px

    
.dropzone
    width 100%

.dz-default
.dz-error-mark
.dz-success-mark
.dz-size
.dz-preview.dz-error
    display none

.dz-preview.dz-file-preview:last-child
    padding-bottom: 24px

.button-loading
    animation fadein 1.5s infinite 

 @keyframes fadein {
    0% { opacity: 0.5; }
    50% { opacity: 1; }
    100%   { opacity: 0.5; }
}