.Cards
    margin 20px 20px 0 20px
    a
        text-decoration none
    &__items
        display inline-flex
        width 100%
        padding-bottom 20px
        @media screen-phone
            display block
    &__item
        width 100%
        border-radius 20px
        padding 30px
        position relative
        cursor pointer
        
        @media screen-phone
            width initial
            display block
            & + &
                margin-top 16px
        & + &
            margin-left 2px
        &:after
            content ''
            display block
            padding-bottom 70%
            
    &__hint
        font-size 30px
        line-height 34px
        text-transform uppercase
        letter-spacing -1.4px
        float left
        margin-top 14px
        
    &__elem
        font-size 30px
        line-height 34px
        letter-spacing -1.4px
        border 3px solid
        width 69px
        height 60px
        text-align center
        display table-cell
        vertical-align middle

    &__title
        font-size 32px
        line-height 36px
        letter-spacing -1.4px
        margin-top 42px
        height 90px
        
    &__price
        font-size 50px
        line-height 39px
        letter-spacing -1.4px
        position absolute
        bottom 30px
        
    &__cross
        font-size 220px
        line-height 39px
        text-align center
        margin 170px 0 0 0
        font-weight 100
    
    &__head
        display table
        width 100%
        

.Cases
    margin 20px 20px 0 20px
    a
        text-decoration none
    &__items
        display inline-flex
        width 100%
        padding-bottom 20px
        @media screen-phone
            display block
    &__dot
        size = 26px
        height size
        width size
        border-radius 100%
        left 16px
        top 16px
        position absolute
        background #265c83
        @media screen-phone
          size = 20px
          height size
          width size
    &__item
        width 100%
        border-radius 20px
        padding 30px
        position relative
        cursor pointer
        background #DDDDDD
        
        @media screen-phone
            width initial
            display block
            & + &
                margin-top 16px
        & + &
            margin-left 2px
            
    &__hint
        font-size 30px
        line-height 34px
        text-transform uppercase
        letter-spacing -1.4px
        float left
        margin-top 14px
        
    &__elem
        font-size 30px
        line-height 34px
        letter-spacing -1.4px
        border 3px solid
        width 69px
        height 60px
        text-align center
        display table-cell
        vertical-align middle

    &__title
        font-size 32px
        line-height 36px
        letter-spacing -1.4px
        margin-top 42px
        height 90px
        color #6f6f6f
        
    &__price
        font-size 50px
        line-height 39px
        letter-spacing -1.4px
        position absolute
        bottom 30px
        
    &__cross
        font-size 220px
        line-height 39px
        text-align center
        margin 170px 0 0 0
        font-weight 100
    
    &__head
        display table
        width 100%