.Text
    color inherit
    
    &__b
        background #ffffff1f
        display inline
    &__p
        & + &
            margin-top 24px
    &_Gap
        &_Main
            margin 200px 20px 68px 20px
            max-width 78%
            @media screen-phone
                margin 120px 20px 38px 20px
                max-width initial
        &_M
            margin 34px 20px 42px 20px
            max-width 70%
            @media screen-phone
                // margin 120px 20px 38px 20px
                max-width initial