.Work
    padding-bottom 40px
    margin -50px 30px 0 30px
    @media screen-phone
        margin -50px 0px 0 0px
        .Typo_text_M
            font-size 20px !important
            line-height 25px !important
            
    .Title, .Text
        color #6f6f6f
    .Photo
        max-width 600px
        margin-bottom 80px
        .Thumb
            filter grayscale(0)
            
    .Text__b
        background rgb(174 174 174)
        color #fff