.List
    margin 66px 20px
    &__hint
        margin-top 10px
        color #ACACAC
    &__item
        
        display block
        max-width 70%
        @media screen-phone
            max-width 100%
        & + &
            margin-top 100px
    a
        text-decoration none
        color inherit
    &__title
        color #C49B72