/*
 * Параметризируемая типографика
 * @font название шрифта, для которого сгенерируются стили
 * @S    font-size-small      line-height-small line-height-medium line-height-large
 * @M    font-size-medium     line-height-small line-height-medium line-height-large
 * @L    font-size-large      line-height-small line-height-medium line-height-large
 * @XL   font-size-extralarge line-height-small line-height-medium line-height-large
 * @XXL   font-size-extralarge line-height-small line-height-medium line-height-large
 */
TypoDefine(options = {
    font: false
    S:    1em 1em 1em 1em
    M:    1em 1em 1em 1em
    L:    1em 1em 1em 1em
    XL:   1em 1em 1em 1em
    XXL:  1em 1em 1em 1em
    caps: 1em 1em
})
    arrayValue(array, index)
        array[index]

    {options.font && '.Typo_font_' + options.font}.Typo
        for i in S M L XL XXL
            if (options[i])
                &_text_{i}
                    font-size arrayValue(options[i], 0)
                    for j, jj in S M L XL XXL
                        lh = arrayValue(options[i], jj + 1)
                        if (lh)
                            &.Typo_line_{j}
                                line-height lh
        &_caps
            font-size: options.caps[0]
            line-height: options.caps[1]

@media screen-desktop
    TypoDefine({
        S:    22px 27px 27px 27px
        M:    28px 34px 34px 34px
        L:    50px 58px 58px 58px
        XL:   70px 70px 70px 70px
        XXL:  70px 70px 70px 70px
        caps: 11px
    })

@media screen-tablet
    TypoDefine({
        S:    22px 27px 27px 27px
        M:    22px 27px 27px 27px
        L:    32px 37px 35px 35px
        XL:   34px 42px 42px 42px
        XXL:  70px 70px 70px 70px
        caps: 13px
    })

@media screen-phone
    TypoDefine({
        S:   22px 24px 24px 24px
        M:   32px 37px 35px 35px
        L:   32px 37px 35px 35px
        XL:  42px 36px 36px 36px
        XXL:  42px 36px 36px 36px
        caps: 13px
    })
        

.Typo
    font-regular = 'GT Walsheim Pro', sans-serif
    font-family font-regular
    letter-spacing -1.4px

    &_font_serif
        font-family georgia, serif

    // Начертания
    &_caps
        text-transform uppercase
        letter-spacing .08em
        font-weight bold
    &_poster
        font-family font-poster
    &_regular
        font-family font-regular
    &_medium
        font-family font-regular
        font-weight 500
