
@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('/assets/fonts/GTWalshteimPro/GTWalsheimPro-Regular.eot');
    src: local('GT Walsheim Pro Regular'), local('GTWalsheimPro-Regular'),
        url('/assets/fonts/GTWalshteimPro/GTWalsheimPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/GTWalshteimPro/GTWalsheimPro-Regular.woff2') format('woff2'),
        url('/assets/fonts/GTWalshteimPro/GTWalsheimPro-Regular.woff') format('woff'),
        url('/assets/fonts/GTWalshteimPro/GTWalsheimPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('/assets/fonts/GTWalshteimPro/GTWalsheimPro-Thin.eot');
    src: local('GT Walsheim Pro Thin'), local('GTWalsheimPro-Thin'),
        url('/assets/fonts/GTWalshteimPro/GTWalsheimPro-Thin.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/GTWalshteimPro/GTWalsheimPro-Thin.woff2') format('woff2'),
        url('/assets/fonts/GTWalshteimPro/GTWalsheimPro-Thin.woff') format('woff'),
        url('/assets/fonts/GTWalshteimPro/GTWalsheimPro-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

.Link
    display inline
    text-decoration none
    color inherit
    border-bottom 1px solid #ffffff45
    
.Photo
    .Thumb
        filter grayscale(100%)
        &:hover
            filter: grayscale(0);

.Person
    display inline-flex
    @media screen-phone
        display initial
    .Text_Gap_M
        max-width 100%
    
    &__right
        width 50%
        margin 70px 40px 0 0
    &__left
        width 75%
        margin-right 40px
    .Thumb
        width 100%
        border-radius 20px


.Gallery
    margin 0 20px 320px 20px
    font-size 22px
    a
        text-decoration none
        color inherit
    &__title
        margin-top 8px
        
    &__subtitle
        opacity .6
    &__items
        display flex
        flex-wrap wrap
    &__item
        width calc(33.3% - 40px)
        @media screen-phone
            width 100%
        padding 40px 20px 40px 20px
        
        .Thumb
            width 100%
            border-radius 20px

.Photo
    margin 0 20px
    &__hint
        margin-top 9px
        text-transform uppercase
        font-size 12px
    .Thumb
        width 100%
        border-radius 30px

.Showcase
    margin 4px 4px
    &_Small
        .Showcase__item
            padding 66px 46px
        .Thumb
            width 76% !important
    &__items
        display flex
        @media screen-phone
            display block
    &__item
        background #00000042
        padding 34px 46px
        box-sizing content-box
        width 50%
        margin 1px
        border-radius 8px
        text-align center
        @media screen-phone
            width initial
        .Thumb
            width 100%
            border-radius 4px
            box-shadow 0 3px 7px -5px rgb(0 0 0 / 60%)
            filter grayscale(100%)
            &:hover
                filter grayscale(0%)

.Screen
    height 100%

.List
    margin 66px 20px
    &__hint
        margin-top 10px
        color #ACACAC
    &__item
        
        display block
        max-width 70%
        @media screen-phone
            max-width 100%
        & + &
            margin-top 100px
    a
        text-decoration none
        color inherit
    &__title
        color #C49B72

table
    border-collapse collapse
    border-spacing 0
    border none

td
    padding 0
    vertical-align baseline

html
    background var(--ground)
    

.App
    background #111111
    color white
    padding 0
    margin 0
    font-family GT Walsheim Pro
    font-weight normal
    font-smoothing antialiased
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    
:root
    --ground #CAC5C4
    --text #2C2B2B
    --formHighlight #000
    --formPlaceholder #999 
    
.Title
    margin 70px 20px 20px 20px
    // font-size 76px
    // line-height 52px
    // letter-spacing -5px

.Text
    color inherit
    &__p
        & + &
            margin-top 24px
    &_Gap
        &_Main
            margin 200px 20px 68px 20px
            max-width 78%
            @media screen-phone
                margin 120px 20px 38px 20px
                max-width initial
        &_M
            margin 34px 20px 42px 20px
            max-width 70%
            @media screen-phone
                // margin 120px 20px 38px 20px
                max-width initial
    
    // &_size
    //     &_M
    //         font-size 28px
    //         line-height 35px
    //         margin 34px 20px 42px 20px
    //         max-width 70%

.uistacknavigation__layer_root
    will-change transform

.uinavigation_popping .uistacknavigation__layer_root
    transform translateX(0) !important
    transition transform .400s
    animation-timing-function cubic-bezier(0.10, 0.70, 0.10, 1)
    

.uinavigation_pushed .uistacknavigation__layer_root
    transform translateX(-120px)
    transition transform .400s
    animation-timing-function cubic-bezier(0.10, 0.70, 0.10, 1)
    
    // (.18,.8,.19,1)

@keyframes ContentOut
    0%
        transform translateX(0)
        opacity 1
    100%
        transform translateX(-88px)
        opacity 0


