.Check
    font-size 20px
    padding 14px 0
    position relative
    border-bottom 2px solid #dedede
    text-align left

    &:last-child
        border-bottom 0

    :hover input ~ .check__mark
        background-color #ccc
    
    input:checked ~ .check__mark 
        background-color rgb(34, 34, 34)

    &__label
        margin-left 44px
        margin-top 4px
        cursor pointer
        display block
        
    &__mark
        &:after
            content ''
            position absolute
            left 13px
            top 5px
            width 5px
            height 17px
            border solid #acacac
            border-width 0 3px 3px 0
            transform: rotate(45deg)
        position absolute
        top 12px
        left 0
        height 35px
        width 35px
        background-color #acacac
        border-radius 100%

        

    input
        position absolute
        opacity 0
        cursor pointer
        height 0
        width 0