.AdminHead
    
    padding-top 20px
    background #11111
    z-index 300
    
    &_Main
        .Head__menu-item_Main
            display none
        // .Head__menu
        //     display none
    
    a
        text-decoration none

    &__menu
        font-size 18px
        position absolute
        right 60px
        top 8px
        @media screen-phone
            display none
        &-item
            display inline-block
            cursor pointer
            color inherit
            letter-spacing -1px
            line-height 80px
            
            & + &
                margin-left 44px
            

    &__logo
        margin-top 12px
        height 60px
        margin-left 20px
        mask-image url('/assets/logo.svg')
        mask-size 180px
        mask-repeat no-repeat
        background-color var(--text)